body {
    background-color: aqua;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main {
    min-width: 70vh;
    min-height: 70vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    column-gap: 1px;
    row-gap: 1px;
    padding: 1px;
}
.square {
    background-color: blue;
}
.square-red {
    background-color: red;
}
.title, .header {
    margin: 10px;
}
.title {
    font-size: 32px;
    font-weight: 800;
}